html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-image: url("images/background.jpg");
}

header, footer {
    background-color: #d4423e;
}

* {
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, #logo {
    font-family: 'Dancing Script', cursive;
}

h1, h2, h3, h4 {
    color: #b32c28;
}

h1 {
    text-align: center;
}

header ul {
    margin: 0;
    padding: 0;
}

header nav a {
    display: block;
    padding: 20px 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

header nav a:hover {
    background-color: #b32c28;
}

#logo {
    color: white;
    padding: 10px;
    font-size: 28px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
    }

    header nav ul {
        list-style-type: none;
        display: flex;
    }
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 black;
    margin: 20px 10px;
    padding: 15px;
}

footer {
    color: white;
    text-align: center;
    padding: 20px 10px;
}

iframe {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

section {
    overflow: hidden;
}

figure {
    box-sizing: border-box;
    width: 48%;
    float: left;
    text-align: center;
    position: relative;
    margin: 1%;
}

figure img {
    max-width: 90%;
}

figcaption {
    position: absolute;
    width: 100%;
    background-color: black;
    color: white;
    padding: 20px;
    bottom: 0;
    opacity: 0.8;
    box-sizing: border-box;
}


@media screen and (min-width: 768px) {
    figure {
        width: 23%;
    }

    .container {
        width: 700px;
        margin: 20px auto;
    }

    footer {
        text-align: right;
    }

    #map {
        float: left;
        margin-right: 20px;
    }

    iframe {
        width: 425px;
    }
}

input[type="submit"] {
    background-color: #d4423e;
    color: white;
    border: 0;
    border-radius: 3px;
    padding: 8px;
    margin: 10px 0;
}

@media screen and (min-width: 1024px) {
    .container {
        width: 800px;
    }
}
